{% extends "layout/index.html" %}

{% block title %}Sentyx - Classification{% endblock %}

{% block content %}

<h1 class="text-4xl font-bold tracking-tighter">Sentence Checker</h1>

<div class="mt-8 space-y-5">
    <div>
        <textarea class="w-full border p-3 rounded-lg" rows="4" placeholder="Type a sentence to analyze..."></textarea>
        <p class="text-gray-500 text-sm">e.g. "Aplikasi ini sangat bagus dan memudahkan dalam bertransaksi"</p>
    </div>
    <button type="submit" class="bg-[#2563EB] text-white font-semibold px-4 py-2 rounded-lg hover:bg-blue-700 cursor-pointer">
        Analyze Sentiment
    </button>
</div>

<!-- Result Section  -->
<h2 class="text-2xl font-bold mt-10">Result</h2>
<!-- Result Card -->
<div class="mt-4 p-6 rounded-xl shadow-md bg-white border max-w-xl transition-all duration-300 ease-in-out hover:shadow-lg">
    <div class="flex items-center justify-between mb-4">
        <div class="text-lg font-semibold text-gray-800">Sentiment Analysis Result</div>
        <span class="inline-flex items-center gap-2 text-sm font-medium px-3 py-1 rounded-full bg-green-100 text-green-700">
        Positive
        </span>
    </div>
    <p class="text-gray-600 text-sm mb-2">
        <strong>Confidence:</strong> 92%
    </p>
    <p class="text-gray-600 text-sm mb-2">
        <strong>Keywords:</strong> <span class="text-blue-600">mudahkan</span>, <span class="text-blue-600">bagus</span>
    </p>
    <div class="mt-4 text-gray-500 text-sm italic">
        "Aplikasi ini sangat bagus dan memudahkan dalam bertransaksi"
    </div>
</div>

{% endblock %}