<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/output.css') }}">
    <!-- FilePond -->
    <link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet" />

</head>

<body>
    <div x-data="{ sidebarOpen: false }" class="flex min-h-screen flex-col md:flex-row bg-[#FAFBFC]">
        <!-- Navbar Mobile -->
        <div class="md:hidden bg-white p-4 ">
            <button @click="sidebarOpen = !sidebarOpen" class="bg-indigo-500 text-white p-2 rounded-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 p-2" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </button>
        </div>

        <div x-show="sidebarOpen" @click="sidebarOpen = false"
            class="fixed inset-0 z-40 bg-black/10 backdrop-blur-sm md:hidden"></div>

        <!-- Sidebar -->
        <div :class="sidebarOpen ?  'translate-x-0' : '-translate-x-full'"
            class="fixed inset-y-0 left-0 w-80 bg-white p-5 z-50 transition-transform duration-300 ease-in-out overflow-y-auto md:relative md:translate-x-0 md:h-auto">

            <div class="flex gap-5 items-center">
                <a href="#"><img src="{{ url_for('static', filename='assets/logo.png') }}" class="w-[3.5rem]"
                        alt="Logo"></a>
                <span class="font-bold text-3xl tracking-tighter">Sentyx</span>
            </div>

            <div class="mt-10 space-y-4">
                <a href="{{ url_for('dashboard') }}" class="flex items-center gap-3 px-4 py-3 rounded-lg cursor-pointer transition-all duration-300 ease-in-out
                    {% if active_page == 'dashboard' %}
                        bg-[#2563EB] text-white
                    {% else %}
                        text-[#1F2937] hover:bg-[#DCDDDF]
                    {% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M4 13h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1m-1 7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1zm10 0a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1zm1-10h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1" />
                    </svg>
                    <span class="text-base font-bold">Dashboard</span>
                </a>

                <div x-data="{ open: {{ 'true' if active_page in ['import_training', 'preprocessing_training'] else 'false' }} }" class="text-[#1F2937]">
                    <div @click="open = !open"
                        class="flex items-center gap-3 cursor-pointer hover:bg-[#DCDDDF] px-4 py-3 rounded-lg transition-all duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#1F2937" fill-rule="evenodd"
                                d="M9 21.072h12c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H8.999c-2.62 0-3.929 0-4.589-.66s-.66-1.97-.66-4.59v-10c0-.41-.34-.75-.75-.75s-.75.34-.75.75v10c0 3.03 0 4.55 1.1 5.65s2.62 1.1 5.649 1.1zm-3.53-6.22c.15.15.34.22.53.22s.38-.07.53-.22l3.25-3.25c.48-.48.83-.83 1.02-.88c.13-.04.26-.04.41 0c.18.05.53.4 1.01.88c.72.72 1.11 1.11 1.66 1.26c.41.12.84.12 1.23 0c.56-.15.95-.54 1.67-1.26l3.75-3.75c.29-.29.29-.77 0-1.06a.754.754 0 0 0-1.06 0l-3.75 3.75l-.002.001c-.48.48-.829.83-1.019.88c-.13.04-.26.04-.41 0c-.18-.05-.529-.4-1.008-.88h-.002c-.72-.72-1.11-1.11-1.66-1.26c-.41-.12-.84-.12-1.23 0c-.56.15-.95.54-1.67 1.26l-3.25 3.25c-.29.29-.29.77 0 1.06"
                                color="#1F2937" /></svg>
                        <span class="text-base font-bold">Data Training</span>
                        <svg :class="open ? 'rotate-180' : ''" class="w-4 h-4 ml-auto transition-transform" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke="#1F2937" stroke-width="2" d="M6 9l6 6 6-6" /></svg>
                    </div>
                    <div x-show="open" x-transition class="ml-10 mt-4 space-y-5">
                        <a href="{{ url_for('import_training') }}"
                            class="block px-4 py-3 rounded-lg transition-all duration-300
                            {% if active_page == 'import_training' %}
                            bg-[#2563EB] text-white
                            {% else %}
                            text-[#1F2937] hover:bg-[#DCDDDF]
                            {% endif %}">Import
                            Data</a>
                        <a href="{{ url_for('preprocessing_training') }}"
                            class="block px-4 py-3 rounded-lg transition-all duration-300
                            {% if active_page == 'preprocessing_training' %}
                            bg-[#2563EB] text-white
                            {% else %}
                            text-[#1F2937] hover:bg-[#DCDDDF]
                            {% endif %}">Preprocessing</a>
                    </div>
                </div>

                <div x-data="{ open: {{ 'true' if active_page in ['import_testing', 'preprocessing_testing', 'classification_testing'] else 'false' }} }" class="text-[#1F2937]">
                    <div @click="open = !open"
                        class="flex items-center gap-3 cursor-pointer hover:bg-[#DCDDDF] px-4 py-3 rounded-lg transition-all duration-300 ease-in-out">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="#1F2937" fill-rule="evenodd"
                                d="M9 21.072h12c.41 0 .75-.34.75-.75s-.34-.75-.75-.75H8.999c-2.62 0-3.929 0-4.589-.66s-.66-1.97-.66-4.59v-10c0-.41-.34-.75-.75-.75s-.75.34-.75.75v10c0 3.03 0 4.55 1.1 5.65s2.62 1.1 5.649 1.1zm-3.53-6.22c.15.15.34.22.53.22s.38-.07.53-.22l3.25-3.25c.48-.48.83-.83 1.02-.88c.13-.04.26-.04.41 0c.18.05.53.4 1.01.88c.72.72 1.11 1.11 1.66 1.26c.41.12.84.12 1.23 0c.56-.15.95-.54 1.67-1.26l3.75-3.75c.29-.29.29-.77 0-1.06a.754.754 0 0 0-1.06 0l-3.75 3.75l-.002.001c-.48.48-.829.83-1.019.88c-.13.04-.26.04-.41 0c-.18-.05-.529-.4-1.008-.88h-.002c-.72-.72-1.11-1.11-1.66-1.26c-.41-.12-.84-.12-1.23 0c-.56.15-.95.54-1.67 1.26l-3.25 3.25c-.29.29-.29.77 0 1.06"
                                color="#1F2937" /></svg>
                        <span class="text-base font-bold">Data Testing</span>
                        <svg :class="open ? 'rotate-180' : ''" class="w-4 h-4 ml-auto transition-transform" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke="#1F2937" stroke-width="2" d="M6 9l6 6 6-6" /></svg>
                    </div>
                    <div x-show="open" x-transition class="ml-10 mt-4 space-y-5">
                        <a href="{{ url_for('import_testing') }}"
                            class="block px-4 py-3 rounded-lg transition-all duration-300
                            {% if active_page == 'import_testing' %}
                            bg-[#2563EB] text-white
                            {% else %}
                            text-[#1F2937] hover:bg-[#DCDDDF]
                            {% endif %}">Import
                            Data</a>
                        <a href="{{ url_for('preprocessing_testing') }}"
                            class="block px-4 py-3 rounded-lg transition-all duration-300
                            {% if active_page == 'preprocessing_testing' %}
                            bg-[#2563EB] text-white
                            {% else %}
                            text-[#1F2937] hover:bg-[#DCDDDF]
                            {% endif %}">Preprocessing</a>
                        <a href="{{ url_for('classification_testing') }}"
                            class="block px-4 py-3 rounded-lg transition-all duration-300
                            {% if active_page == 'classification_testing' %}
                            bg-[#2563EB] text-white
                            {% else %}
                            text-[#1F2937] hover:bg-[#DCDDDF]
                            {% endif %}">Classification
                            Result</a>
                    </div>
                </div>

                <a href="{{ url_for('sentence') }}"
                    class="flex items-center gap-3 px-4 py-3 rounded-lg cursor-pointer transition-all duration-300 ease-in-out
                    {% if active_page == 'sentence' %}
                    bg-[#2563EB] text-white
                    {% else %}
                    text-[#1F2937] hover:bg-[#DCDDDF]
                    {% endif %}"">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="none" fill-rule="evenodd">
                            <path
                                d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                            <path fill="currentColor"
                                d="M13.586 2A2 2 0 0 1 15 2.586L19.414 7A2 2 0 0 1 20 8.414V20a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2ZM12 4H6v16h12V10h-4.5A1.5 1.5 0 0 1 12 8.5zm0 8a3 3 0 0 1 2.708 4.293l.706.707A1 1 0 1 1 14 18.414l-.707-.706A3 3 0 1 1 12 12m0 2a1 1 0 1 0 0 2a1 1 0 0 0 0-2m2-9.586V8h3.586z" />
                        </g>
                    </svg>
                    <span class="text-base font-bold">Sentence Checker</span>
                </a>
            </div>

        </div>

        <!-- Content -->
        <div class="flex-1 p-9">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <!-- FilePond  -->
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script> 
    <script src="{{ url_for('static', filename='js/filepond.js') }}"></script>
</body>

</html>